.callout {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-left-width: 5px;
  border-radius: 3px;
  @include themify($themes) {
    border-color: themed("calloutBorderColor");
    background-color: themed("calloutBackgroundColor");
  }

  .callout-heading {
    margin-top: 0;
  }

  h3.callout-heading {
    font-weight: bold;
    text-transform: uppercase;
  }

  &.callout-primary {
    @include themify($themes) {
      border-left-color: themed("primaryColor");
    }

    .callout-heading {
      @include themify($themes) {
        color: themed("primaryColor");
      }
    }
  }

  &.callout-info {
    @include themify($themes) {
      border-left-color: themed("infoColor");
    }

    .callout-heading {
      @include themify($themes) {
        color: themed("infoColor");
      }
    }
  }

  &.callout-danger {
    @include themify($themes) {
      border-left-color: themed("dangerColor");
    }

    .callout-heading {
      @include themify($themes) {
        color: themed("dangerColor");
      }
    }
  }

  &.callout-success {
    @include themify($themes) {
      border-left-color: themed("successColor");
    }

    .callout-heading {
      @include themify($themes) {
        color: themed("successColor");
      }
    }
  }

  &.callout-warning {
    @include themify($themes) {
      border-left-color: themed("warningColor");
    }

    .callout-heading {
      @include themify($themes) {
        color: themed("warningColor");
      }
    }
  }

  ul {
    padding-left: 40px;
    margin: 0;
  }
}
