[hidden] {
  display: none !important;
}

.draggable {
  cursor: move;
}

.password-reprompt {
  text-align: left;
  margin-top: 15px;
}

.set-pin-modal {
  .box {
    margin-bottom: 15px;
  }
}

.rounded-circle {
  border-radius: 50% !important;
}
